.jumbotron h1 {
    color: ghostwhite;
    margin: auto;
    padding-top: 25px;
    text-align: center;
    font-size: 80px;
    float: none;
    min-height: inherit;
}

.jumbotron p {
    color: ghostwhite;
    text-align: center;
    padding-top: 10px;
    text-shadow: 1px 1px black;
}

.jumbotron {
    background-image: url("Optimized_Ocean_image.jpg");
    background-size: cover;
    background-clip: padding-box(1000px);
}

.container {
    min-width: 1000px;
}

.videos h4 {
    padding-top: 50px;
}

.videos iframe {
    padding-bottom: 50px;
}

.videos h1 {
    padding-bottom: 30px;
}

.hometown p {
    font-size: 200%;
}

.interests_activities h4 {
    padding-top: 50px;
}

.about li {
    padding-top: 15px;
    font-size: 18px;
}

.about ul {
    position: relative;
    top: 50%;
    transform: translateY(20%)
}

.about-description h2 {
    padding-top: 60px;
    padding-bottom: 10px; 
}

.map {
    padding: 10px;    
}

.sauder {
    padding: 10px;
}

.ubc {
    text-align: left;
    vertical-align: text-top
}
    
skiing_h {
    background-image: url(Optimized_Skiing_Backflip.jpg);
    background-position: center;
    background-size: cover;
    height: 475px;
}

skiing h2 {
    color: ghostwhite; 
}
   
.profile {
    text-align: center
}

.contact {
    padding-top: 25px;
}

.note {
    padding-top: 25px;
}

.surfing_h {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.surfing_h img {
    width: 100%;
    margin: -300px 0 0 0px;
}

.skiing_h {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.skiing_h img {
    width:100%;
    height:100%;
    margin: 0px 0 0 0px;
}

.climbing {
    padding-bottom: 50px;
    padding-top: 25px;
}

.surfing {
    padding-bottom: 50px;
}

.bicycle_touring {
    padding-bottom: 50px;
}

.skiing {
    padding-bottom: 50px;
}

.premise_pic img {
    width: 150px;
    height: 125px;
    margin: auto;
}

.clmg_pic img {
    width: 150px;
    height: 125px;
    margin: auto;
}

.schoolsoft_pic img {
    width: 320px;
    height: 125px;
    margin: auot;
}

.ceo {
    padding-top: 25px;
    padding-bottom: 50px;
}

.bentall {
    padding-bottom: 50px;
}
















body {
    padding-bottom: 50px;
}

