.nav-tabs ul {
    margin: 0px;
    padding: 0px;
    padding-top: px;
    list-style-type: none;
}

.nav-tabs li {
    display: inline;
    text-decoration: none;
    padding: 0px;
}

.jumbotron h1 {
    color: ghostwhite;
    margin: auto;
    padding-top: 0px;
    text-align: center;
    font-size: 80px;
    float: none;
    min-height: inherit;

}

.jumbotron p {
    color: ghostwhite;
    text-align: center;
    padding-top: 10px;
    text-shadow: 1px 1px black;
}

.jumbotron {
    background-image: url("Optimized_Ocean_image.jpg");
    background-size: cover;
    background-clip: padding-box(1000px);
}

.container {
    min-width: 1000px;
}

.videos h4 {
    padding-top: 50px;
}

.videos iframe {
    padding-bottom: 50px;
}

.hometown p {
    font-size: 200%;
}

.interests_activities h4 {
    padding-top: 50px;
}

.about li {
    padding-top: 15px;
    font-size: 18px;
}

.about ul {
    position: relative;
    top: 50%;
    transform: translateY(20%)
}

.about-description iframe {
    position: relative;
}

.about-description h2 {
    padding-top: 50px;
    padding-bottom: 10px;
}


button {
    display: inline-block;
    height: 200px;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
    width: 400px;
 }


    
